.header {
        margin-top: 20px;
        background-color: #ebebeb;
        text-align: center;
        font-size: 25px;
}
.paragraph {
        padding: 25px;
        margin: 20px;
        width: 495px;
}

.h1 {
    width: 495px;
    color: #777777;
    background-color: #ebebeb;
    font-size: 24px;
}

.h2 {
    width: 495px;
    color: #777777;
    background-color: #ebebeb;
    font-size: 25px;
}

.footer {
    text-align: center;
    background-color: #ebebeb;
    font-size: 25px;
}

.aside {
    float: right;
    background-color: #ebebeb;
}